*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
    Layout
 */

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;

}

.grow {
    flex-grow: 2;
}

.bottom {
    margin-top: auto;
}

/*
    Typographie
 */

.hint {
    font-family: Arial, sans-serif;
    color: #8e8e8e;
    font-size: 20px;
}
/*
    Icons
 */

.material-icons-outlined.md-48 {
    font-size: 48px;
}

.material-icons-outlined.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

/*
    Components
 */

.button {
    height: 50px;
    margin-left: 8px;
}

.box {
    border: 1px solid gray;
    border-radius: 4px;

    margin: 8px
}

/*
    Main Content
 */

.main-content {
    height: 100%;
}

/*
    Messages
 */

.messages {
    overflow-y: scroll;
    min-width: 500px;

    height: auto;
}

/*
    Input
 */

.text-input {
    height: 50px;

    font-size: 20px;

    padding: 10px 20px;
}

.message-input {
    padding: 8px;
}

.message-input label {
    display: none;
}

/*
    Drop Zone
 */

.dropzone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
